h1{
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif
    font-size:20px;
    background-color:purple;
    text-align:center;
}
p{
    color:purple
    font-family:
    font-size: 19px;
    background-color:light brown;
    text-align:center;

}

 